
body {
    background-color: white;
}

header {
    font-size: 50px;
    font-weight: bold;
}

#monCV {
    background-color: lightskyblue;
    border: solid 5px black;
    padding: 20px;
    border-radius: 5px;
}

.bloc {
    background-color: azure;
    border: solid 3px black;
    border-radius: 5px;
    padding: 5px;
}